*.bak
*.log
./logs
.idea
venv
./build
./dist*
./*.zip
*.pyc
*.pyo
*~
#*
*.1
*.bak
*.bak2
*.svn
Thumbs.db
.DS_Store
*.DS_Store
logs/
/errors
/sessions
site-packages/
__pycache__
/__pycache__/*
/.vscode/settings.json